@use "../../abstracts/variables" as *;

.chat-messages {
  width: 100%;
  height: calc(100vh - 98px);
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  // .chat-date {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   p {
  //     text-align: center;
  //     padding: 0.2rem 0.7rem 0.2rem 0.7rem;
  //     border-radius: 999rem;
  //     color: #ffffff;
  //     background-color: rgba(0, 0, 0, 0.4);
  //     font-size: 0.9rem;
  //     font-weight: 500;
  //   }
  // }
}
