@use "../../abstracts/index.scss" as *;

.chat-page {
  width: 65%;
  height: 100vh;
  background-color: $color-white;
  position: relative;

  @media (max-width: 764px) {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}
