@use "../../abstracts/index" as *;

.main-btn {
  color: $color-blue;
  transition-duration: 0.2s;
  text-transform: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5em 1rem;
  border-radius: 0.5rem;
}

.main-btn-red {
  @extend .main-btn;
  color: $color-red;

  &:hover {
    background-color: rgba(#d0312d, 0.1);
  }
}
