@use "../../abstracts/index.scss" as *;

.chat-input-bar {
  width: 100%;
  height: 53.69px;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid $color-grey-hover;

  @media (min-width: 764px) {
    width: 65%;
  }

  .flex-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    svg {
      @include grey-icon;
    }

    .send-icon {
      color: $color-blue;
    }
  }

  .flex-left {
    @extend .flex-right;
    width: 90%;

    input {
      width: 100%;
      color: $color-black;
      font-size: 0.9rem;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 0.9rem;
        color: $color-grey;
      }
    }
  }
}
