$color-blue: rgb(29, 155, 240);
$color-blue-dark: rgb(27, 145, 223);
$color-black: #050505;
$color-black-hover: #242424;
$color-grey: #b5b5b5;
$color-grey-hover: #ededed;
$color-white: #ffffff;
$color-red: #d0312d;
