@use "../../abstracts/index.scss" as *;

.add-users {
  @include form;
  z-index: 10000;

  @media (max-width: 500px) {
    @include mobile-form;
  }

  .top {
    @include modal-top;

    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $color-white;

    @media (min-width: 500px) {
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
    }
  }

  .bottom {
    padding: 4rem 0 1rem 0;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1;

    .side-bar-top {
      height: 3rem;
      width: 100%;
      padding: 1rem 1.5rem 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      z-index: 2;
      background-color: $color-white;
      border-bottom: 1px solid $color-grey-hover;

      .search-icon {
        font-size: 1.5rem;
        color: $color-grey;
      }

      input {
        height: 37.69px;
        width: 100%;
      }
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    bottom: 0;
    border-top: 1px solid $color-grey-hover;
    z-index: 2;
    background-color: $color-white;
    padding: 0rem 1.5rem 0rem 1.5rem;
  }
}
