* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: var(--var-roboto), sans-serif;
}

.main {
  display: flex;
  position: relative;
  height: 100vh;
}
