@use "../../abstracts/index.scss" as *;

.add-users {
  @include form;
  z-index: 10000;
  height: 600px;

  @media (max-width: 500px) {
    @include mobile-form;
  }

  .flex-top {
    @include modal-top;
  }

  .flex-bottom {
    height: 80%;

    .side-bar-top {
      height: 3.5rem;
      width: 100%;
      background-color: $color-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      z-index: 2;

      input {
        height: 37.69px;
        width: 100%;
      }
    }
  }
}
