@use "../../abstracts/index.scss" as *;

.set-avatar {
  background-color: $color-blue;
  border-radius: 999rem;
  position: absolute;
  bottom: 30%;
  left: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;

  @media (max-width: 500px) {
    left: 54%;
  }

  .set-icon {
    font-size: 1.4rem;
    color: $color-white;
  }

  input {
    display: none;
  }
}
