@use "../../abstracts/index.scss" as *;

.side-bar {
  height: 100vh;
  width: 28rem;
  background-color: $color-white;
  border-right: 1px solid $color-grey-hover;

  .side-bar-top {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
