@use "../../abstracts/index.scss" as *;

.hamburger-icon {
  @include grey-icon;
}

.MuiPaper-root {
  width: 19.5rem;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;

    .log-out {
      @include grey-icon;
      font-size: 1.6rem;
    }
  }

  .bottom {
    padding-top: 0.5rem;
  }
}
