@use "../../abstracts/index.scss" as *;

.log-out {
  @include form;
  z-index: 10000;
  padding: 1rem 1.5rem 1rem 1.5rem;

  @media (max-width: 500px) {
    @include mobile-form;
  }

  p {
    color: $color-black;
  }

  .log-out-top {
    @include modal-top;
  }

  .btns {
    display: flex;
    justify-content: flex-end;
  }
}
