@use "../../abstracts/index.scss" as *;

.log-out {
  @include form;
  z-index: 10000;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;

  @media (max-width: 500px) {
    @include mobile-form;
  }

  p {
    color: $color-grey;
  }

  .log-out-top {
    @include modal-top;
  }

  .btns {
    display: flex;
    justify-content: flex-end;

    button {
      color: $color-blue;
      transition-duration: 0.2s;
      text-transform: none;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 0.5rem 1rem 0.5em 1rem;
      border-radius: 0.5rem;
    }
  }
}
