@use "../../abstracts/index.scss" as *;

.chat-input-bar {
  height: 3.5rem;
  width: 65%;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 2;
  border-top: 1px solid $color-grey-hover;

  @media (max-width: 764px) {
    width: 100%;
  }

  .flex-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    svg {
      @include grey-icon;
    }

    .send-icon {
      color: $color-blue;
    }

    .emoji-picker {
      position: absolute;
      transform: translateX(-50%);
      bottom: 60px;
      max-height: 400px;
      max-width: 365px;

      @media (max-width: 400px) {
        max-width: 300px;
      }

      @media (max-width: 280px) {
        max-width: 230px;
      }
    }
  }

  .flex-left {
    @extend .flex-right;
    width: 90%;

    input {
      width: 100%;
      color: $color-black;
      font-size: 0.9rem;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 0.9rem;
        color: $color-grey;
      }
    }
  }
}
