.form-btn {
  width: 100%;
  padding: 0.7rem 1rem 0.7em 1rem;
  border-radius: 999rem;
  border: 1px solid #050505;
  color: #ffffff;
  background-color: #050505;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: #242424;
  }
}
