@use "../../abstracts/variables" as *;

.search {
  width: 23rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 999rem;
  border: 1px solid $color-grey-hover;
  background-color: $color-grey-hover;
  color: $color-black;
  font-size: 0.9rem;

  &:focus {
    border: 1px solid $color-grey;
    background-color: $color-white;
    outline: none;
  }

  &::placeholder {
    font-size: 0.9rem;
    color: $color-grey;
  }
}
