@use "../../abstracts/variables" as *;

.sender-m {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.2rem;
  position: relative;

  img {
    width: 16rem;
    height: 30rem;
    border-radius: 1rem;
  }

  .img-m-date {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 999rem;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  p {
    height: 36.2px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: $color-blue;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .m-text {
      font-size: 1rem;
      word-wrap: break-word;
      max-width: 8rem;

      @media (min-width: 280px) {
        max-width: 12rem;
      }

      @media (min-width: 500px) {
        max-width: 20rem;
      }

      @media (min-width: 992px) {
        max-width: 25rem;
      }
    }

    .m-date {
      height: 100%;
      display: flex;
      align-items: flex-end;

      div {
        font-size: 0.9rem;
        margin-top: 0.4rem;
      }
    }
  }
}

.m {
  @extend .sender-m;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 1rem;
    color: $color-black;
    background-color: $color-grey-hover;
  }
}
