.search-chats-input {
  width: 23rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 999rem;
  border: 1px solid #ededed;
  background-color: #ededed;
  color: #050505;
  font-size: 0.9rem;

  &:focus {
    border: 1px solid #c7c6c5;
    background-color: #ffffff;
    outline: none;
  }

  &::placeholder {
    font-size: 0.9rem;
    color: #c7c6c5;
  }
}
