@use "../../abstracts/variables" as *;

.google-auth-btn {
  width: 100%;
  padding: 0.7rem 1rem 0.7em 1rem;
  border-radius: 999rem;
  border: 1px solid $color-grey;
  color: $color-black;
  background-color: $color-white;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition-duration: 0.2s;

  &:hover {
    background-color: $color-grey-hover;
  }
}
