@use "../../abstracts/variables" as *;

.chat-field {
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 50px;
  margin-bottom: 50px;
  height: calc(100vh - 98px);
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .chat-date {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 999rem;
      padding: 0.2rem 0.7rem 0.2rem 0.7rem;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .sender-m {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      padding: 0.4rem 1rem 0.4rem 1rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      background-color: $color-blue;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      height: 100%;

      .m-text {
        font-size: 1rem;
        word-wrap: break-word;
        max-width: 8rem;

        @media (min-width: 280px) {
          max-width: 12rem;
        }

        @media (min-width: 500px) {
          max-width: 20rem;
        }

        @media (min-width: 992px) {
          max-width: 25rem;
        }
      }

      .m-date {
        height: 100%;
        display: flex;
        align-items: flex-end;

        div {
          font-size: 0.9rem;
          margin-top: 0.4rem;
        }
      }
    }
  }

  .m {
    @extend .sender-m;
    justify-content: flex-start;

    p {
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 1rem;
      color: $color-black;
      background-color: $color-grey-hover;
    }
  }
}
